rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /artifacts/{artifactId} {

      allow read: if true;

      allow create: if request.auth != null;

      allow update: if request.auth != null;

      allow delete: if false;
    }

    match /archives/{archiveId} {

      allow read: if true;

      allow create: if request.auth != null;
    }

  }

}
